@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="top_nav hidden-print">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">
                            <img src="~/images/img.jpg" alt="">@User.Identity?.Name
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">

                            <li>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark">خروج</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">
                            <img src="~/images/img.jpg" alt="">وارد نشده اید.
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">

                            <li>
                                <a href="/Identity/Account/Login"><i class="fa fa-sign-out pull-right"></i> ورود</a>
                            </li>
                        </ul>
                    </li>
                }



            </ul>
        </nav>
    </div>
</div>